{% extends 'nav_base.html' %}
{% block title %}리뷰 작성_극장의 소라고동{% endblock %}
{% block content %}

<style>
    @import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Gowun+Dodum&family=Hahmlet:wght@100..900&family=Jua&family=Nanum+Gothic&family=Sunflower:wght@300&display=swap');

    .wide-content_t {
        margin-top: 15px;
        max-width: 800px;
        height: 40px;
        border: 2px solid #BDBDBD;
        border-radius: 5px;
        padding: 5px;
        overflow: auto;
    }

    .wide-content_cn {
        margin-top: 15px;
        max-width: 400px;
        height: 50px;
        border: 2px solid #BDBDBD;
        border-radius: 5px;
        padding: 5px;
        overflow: auto;
    }

    .wide-content {
        margin-top: 15px;
        max-width: 800px;
        height: 200px;
        border: 2px solid #BDBDBD;
        border-radius: 5px;
        padding: 10px;
        overflow: auto;
    }

    .boardline {
        border-top: 1px solid #BDBDBD;
        max-width: 800px;
        margin: 10px 0;
    }

    .bold-text {
        font-weight: bold;
    }

    .card-body {
        font-family: 'Jua', sans-serif !important;
    }

    #play_review_write .btn.btn-primary {
        background-color: #dcb9ff; /* 원하는 스타일 */
        color: black;
    }


    .play-detail-back .btn.btn-secondary {
        background-color: #ECE0F8; /* 원하는 색상 */
        color: black; /* 글자 색상 */
        border-color: #cccccc; /* 테두리 색상 */
    }


</style>

<div class="container mt-5">
    <div class="card shadow-sm mb-4">
        <div class="card-body">
            <form id="review-form" action="" method="post">
                {% csrf_token %}
                {{ form.as_p }}


                <div class="text-right">
                    <button type="submit" class="btn btn-primary" style="background-color: #dcb9ff; color: black; border:2px solid #cccccc; ">저장</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="text-center play-detail-back">
    <a href="{% url 'plays:play_detail' pk=play_id %}" class="btn btn-secondary mb-5" >뒤로가기</a>
</div>


{% include 'modal_base.html' %}
{% endblock %}