# .env.sample

# Django Secret Key (개인 개발 환경에 맞춰 실제 키로 대체)
SECRET_KEY="your-secret-key"

# Database 설정
DB_NAME="your_database_name"           # 사용할 데이터베이스 이름
DB_USER="your_database_user"           # 데이터베이스 사용자명
DB_PASSWORD="your_database_password"   # 데이터베이스 비밀번호
DB_HOST="your_database_host"           # 보통 'localhost' 또는 서버 IP 주소
DB_PORT="your_database_port"           # MySQL 기본 포트는 3306
