{% extends 'nav_base.html' %}
{% block title %}취향 설정{% endblock %}
{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h2 class="text-center">취향 설정</h2>
                </div>
                <div class="card-body">
                    <form method="POST" action="{% url 'register' %}">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="my_genre">장르</label>
                            <select multiple class="form-control" id="my_genre" name="my_genre[]" required>
                                <option value="로맨스">로맨스</option>
                                <option value="코미디">코미디</option>
                                <option value="드라마">드라마</option>
                                <option value="액션">시대극</option>
                                <option value="스릴러">스릴러</option>
                                <option value="공포">공포</option>
                                <option value="아동/가족">아동/가족</option>
                                <option value="판타지">판타지</option>
                                <option value="else?">what else?</option>
                            </select>
                            <small class="form-text text-muted">복수 선택 가능합니다.</small>
                        </div>

                        <div class="form-group">
                            <label for="my_play_mood">연극 분위기</label>
                            <select multiple class="form-control" id="my_play_mood" name="my_play_mood[]" required>
                                <option value="즐거운">즐거운</option>
                                <option value="우울한">우울한</option>
                                <option value="설레는">설레는</option>
                                <option value="철학적인">철학적인</option>
                                <option value="슬픈">슬픈</option>
                                <option value="감동적인">감동적인</option>
                                <option value="신선한">신선한</option>
                                <option value="반전있는">반전있는</option>
                                <option value="else?">what else?</option>
                            </select>
                            <small class="form-text text-muted">복수 선택 가능합니다.</small>
                        </div>

                        <div class="form-group">
                            <label for="my_play_keyword">키워드 태그</label>
                            <select multiple class="form-control" id="my_play_keyword" name="my_play_keyword[]" required>
                                <option value="즐거운">아이와 보기 좋은</option>
                                <option value="우울한">연인과 함께</option>
                                <option value="설레는">믿고보는 배우</option>
                                <option value="철학적인">원작바탕 이야기</option>
                                <option value="슬픈">별점 평균 4.0이상</option>
                                <option value="감동적인">기분전환</option>
                                <option value="else?">what else?</option>
                            </select>
                            <small class="form-text text-muted">복수 선택 가능합니다.</small>
                        </div>

                        <div class="form-group">
                            <label for="my_actor">좋아하는 배우</label>
                            <input type="text" class="form-control" id="my_actor" name="my_actor" placeholder="배우를 1명 입력하거나 없음을 입력하세요" required>
                        </div>

                        <button type="submit" class="btn btn-primary btn-block">회원가입 완료</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
