{% extends 'nav_base.html' %}
{% block title %}극장의 소라고동_로그인 전{% endblock %}
{% block content %}
<style>
    .custom-padding {
        padding: 15px 40px;
        font-size: 22px;
    }

    h4 {
        font-family: Times New Roman;
        font-weight: lighter;
        font-style: oblique;
    }
    /* 미디어 쿼리: 768px 이하일 때 2개씩 보이게 설정 */
    @media (max-width: 768px) {s
        h2 {
            font-size: 20px;
        }
        h4 {
            font-size: 16px;
        }
        .custom-padding {
            font-size: 16px;
        }
    }
</style>

<div class="container text-center">
    <div class="mb-5">
        <h2 class="mt-5">숏폼에 지친 당신에게<br>2시간의 여유를 선물합니다.</h2>
        <h4 class="mt-1">For you, take your own me time!</h4>
    </div>

    <!-- 추천 버튼 -->
    <div class="mb-5">
        <a href="{% url 'login' %}" class="btn btn-outline-dark btn-lg rounded-pill custom-padding" role="button">
            나에게 맞는 연극 추천을 받아보세요!
        </a>
    </div>

       <!-- 연극 순위 -->
    {% include 'play_rank_base.html' %}
</div>
{% include 'modal_base.html' %}
{% endblock %}
