{% extends 'nav_base.html' %}
{% load static %}

{% block title %}극장의 소라고동{% endblock %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/theater_map.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<style>
    @import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Gowun+Dodum&family=Hahmlet:wght@100..900&family=Jua&family=Nanum+Gothic&family=Sunflower:wght@300&display=swap');

    .main-container {
        width: 70%;
        max-width: 1200px;
        margin: 0 auto;
        padding: 20px;
        box-sizing: border-box;
        display: flex;
        flex-wrap: wrap; /* 자식 요소가 줄 바꿈 될 수 있게 설정 */
        justify-content: space-between; /* 자식 요소 간에 간격을 두기 */
    }

    .filter-wrapper {
        flex: 1 1 55%; /* 카테고리 필터를 60% 차지하도록 설정 */
        box-sizing: border-box;
        display: row;
    }

    .section {
        margin-top: 50px;
        width:100%;
    }

    .category-filters {
        flex: 1 1 60%; /* 카테고리 필터를 60% 차지하도록 설정 */
        box-sizing: border-box;
        display: flex; /* Flexbox 활성화 */
        flex-direction: column; /* 전체 레이아웃을 세로로 배치 */
        justify-content: space-between; /* 자식 요소 사이 간격 균등 분배 */
        margin: 0px;
        gap: 10px;
        background: #f9f9f9;
    }

    .filter-content {
        display: flex; /* 가로로 배치 */
        justify-content: space-between; /* 자식 요소를 양쪽 끝에 정렬 */
        align-items: center;
        gap: 0px;
    }

    .filter-title {
        text-align: left;
        font-family: "Jua", sans-serif;
        font-size: 1.8rem;
        font-weight: 400;
        font-style: normal;
        margin-bottom: 3px;
        border-bottom: 2px solid #E7A67B;
        padding-bottom: 5px;
    }

    <!--타이틀 추가 적용 안됨-->

    h6.filter-small-title {
        text-align: left !important; /* 제목을 왼쪽 정렬 */
        font-family: "Jua", sans-serif;
        font-size: 10px !important;
        font-weight: 200 !important;
        font-style: normal !important;
        margin-bottom: 3px !important; /* 제목 아래 여백 */
        border-bottom: 2px solid #8d92a6 !important; /* 두께 2px, 색상 검정 */
        padding-bottom: 5px !important; /* 테두리 안쪽 여백 추가 */
    }

    .filter-image-container {
        flex: 0 1 52%; /* 크기를 고정 */
        display: flex; /* 이미지 내부에서 정렬 조정 */
        justify-content: flex-start;
        align-items: center;
        display: inline-block; /* 컨테이너를 키워드 필터 옆에 위치 */
        vertical-align: top; /* 위쪽 정렬 */
        margin-left: 20px; /* 키워드 필터와의 간격 조정 */
        max-width: 100%; /* 부모 컨테이너 크기를 초과하지 않음 */
        box-sizing: border-box;
        padding-left: 20px; /* 이미지와 필터 사이에 간격 추가 */
    }

    .filter-image {
        width: 100%; /* 원하는 이미지 너비 */
        height: auto; /* 비율 유지 */
        border-radius: 5px; /* 모서리를 둥글게 */
        object-fit: contain; /* 이미지 비율을 유지하며 컨테이너에 맞춤 */
        margin-left: -30px;
        min-width: 300px;
        max-width: 480px;
    }

    @media (max-width: 768px) {
        .category-filters {
            flex: 1 1 100%; /* 작은 화면에서는 카테고리 필터를 100%로 설정 */
        }

        .filter-image-container {
            flex: 1 1 100%; /* 이미지 컨테이너도 100%로 설정 */
            padding-left: 0; /* 작은 화면에서는 간격을 없앰 */
        }

        .filter-image {
            min-width: 200px; /* 더 작은 화면에서는 최소 너비를 줄임 */
            max-width: 300px; /* 이미지 크기 최대값을 줄임 */
        }
    }

    @media (max-width: 480px) {
        .filter-image-container {
            flex: 1 1 100%; /* 더 작은 화면에서는 이미지도 100%로 설정 */
        }

        .filter-image {
            min-width: 150px; /* 더 작은 화면에서는 최소 너비를 더 줄임 */
            max-width: 100%; /* 최대 너비를 100%로 설정 */
        }
    }


    .filter-row {
        display: flex; /* 가로 정렬 */
        justify-content: flex-start; /* 버튼을 왼쪽 정렬 (필요 시 center, space-between 등 조정 가능) */
        gap: 5px; /* 버튼 간 간격 */
        margin-bottom: 6px; /* 각 행 아래 여백 */
        flex-wrap: wrap;
    }

    .filter-row-1 {
        display: flex; /* 가로 정렬 */
        justify-content: flex-start; /* 버튼을 왼쪽 정렬 (필요 시 center, space-between 등 조정 가능) */
        gap: 10px; /* 버튼 간 간격 */
        margin-bottom: 10px; /* 각 행 아래 여백 */
    }

    .filter-row-2 {
        display: flex; /* 가로 정렬 */
        justify-content: flex-start; /* 버튼을 왼쪽 정렬 (필요 시 center, space-between 등 조정 가능) */
        gap: 10px; /* 버튼 간 간격 */
        margin-bottom: 10px; /* 각 행 아래 여백 */
    }

    .filter-row-3 {
        display: flex; /* 가로 정렬 */
        justify-content: flex-start; /* 버튼을 왼쪽 정렬 (필요 시 center, space-between 등 조정 가능) */
        gap: 10px; /* 버튼 간 간격 */
        margin-bottom: 10px; /* 각 행 아래 여백 */
    }


    /* 필터 버튼 스타일 */

    .filter-btn-0 {
    position: relative;
        background: #fcf03d82;
        color: black;
        border: none;
        border-radius: 50px;
        padding: 8px 16px;
        margin: 2px;
        font-family: "Jua", serif;
        font-size: 14px;
        cursor: pointer;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
        transition: all 0.3s ease;
        display: inline-block; /* 버튼 내부 요소를 가로로 정렬 */
        text-align: center; /* 텍스트 중앙 정렬 */
        white-space: nowrap; /* 글씨 줄바꿈 방지 */
        width: auto; /* 버튼 너비를 내용에 맞게 */
}

    .filter-btn-0:focus {
        background: #d1c73582;
        color: black;
        outline: none; /* 포커스 테두리 제거 */
    }

    .filter-btn-0:hover,
    .filter-btn-0.active {
        background: #d1c73582;
        color: black;
        border-color: #d1c73582;
    }

    .filter-btn {
        position: relative;
        background: white;
        color: black;
        border: none;
        border-radius: 50px;
        padding: 8px 16px;
        margin: 2px;
        font-family: "Jua", serif;
        font-size: 14px;
        cursor: pointer;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
        transition: all 0.3s ease;
        display: inline-block; /* 버튼 내부 요소를 가로로 정렬 */
        text-align: center; /* 텍스트 중앙 정렬 */
        white-space: nowrap; /* 글씨 줄바꿈 방지 */
        width: auto; /* 버튼 너비를 내용에 맞게 */
    }

    .filter-btn-1 {
            position: relative;
            background: #e1d5f2;
            color: black;
            border: none;
            border-radius: 50px;
            padding: 8px 16px;
            margin: 2px;
            font-family: "Jua", serif;
            font-size: 14px;
            cursor: pointer;
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
            transition: all 0.3s ease;
            display: inline-block; /* 버튼 내부 요소를 가로로 정렬 */
            text-align: center; /* 텍스트 중앙 정렬 */
            white-space: nowrap; /* 글씨 줄바꿈 방지 */
            width: auto; /* 버튼 너비를 내용에 맞게 */
        }

        .filter-btn-2 {
            position: relative;
            background: #e1d5f2;
            color: black;
            border: none;
            border-radius: 50px;
            padding: 8px 16px;
            margin: 2px;
            font-family: "Jua", serif;
            font-size: 14px;
            cursor: pointer;
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
            transition: all 0.3s ease;
            display: inline-block; /* 버튼 내부 요소를 가로로 정렬 */
            text-align: center; /* 텍스트 중앙 정렬 */
            white-space: nowrap; /* 글씨 줄바꿈 방지 */
            width: auto; /* 버튼 너비를 내용에 맞게 */
        }

    .filter-btn-3 {
        position: relative;
        background: white;
        color: black;
        border: none;
        border-radius: 50px;
        padding: 8px 16px;
        margin: 2px;
        font-family: "Jua", serif;
        font-size: 14px;
        cursor: pointer;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
        transition: all 0.3s ease;
        display: inline-block; /* 버튼 내부 요소를 가로로 정렬 */
        text-align: center;
        white-space: nowrap; /* 글씨 줄바꿈 방지 */
        width: auto;
        }

    .filter-btn-4 {
        position: relative;
        background: white;
        color: black;
        border: none;
        border-radius: 50px;
       padding: 8px 16px;
        margin: 2px;
        font-family: "Jua", serif;
        font-size: 14px;
        cursor: pointer;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
        transition: all 0.3s ease;
        display: inline-block; /* 버튼 내부 요소를 가로로 정렬 */
        text-align: center;
        white-space: nowrap; /* 글씨 줄바꿈 방지 */
        width: auto;
        }



    /* 버튼을 누른 상태일 때 (클릭 중)#C3ABE2 */

    .filter-btn:focus {
        background: white;
        color: black;
        outline: none; /* 포커스 테두리 제거 */
    }

    .filter-btn-1:focus {
        background: #C3ABE2;
        color: black;
        outline: none; /* 포커스 테두리 제거 */
    }

    .filter-btn-2:focus {
        background: #C3ABE2;
        color: black;
        outline: none; /* 포커스 테두리 제거 */
    }

    .filter-btn-3:focus {
        background: white;
        color: black;
        outline: none; /* 포커스 테두리 제거 */
    }

    .filter-btn-4:focus {
        background: white;
        color: black;
        outline: none; /* 포커스 테두리 제거 */
    }

    .filter-btn:hover,
    .filter-btn.active,
    .filter-btn-1:hover,
    .filter-btn-1.active,
    .filter-btn-2:hover,
    .filter-btn-2.active,
    .filter-btn-3:hover,
    .filter-btn-3.active,
    .filter-btn-4:hover,
    .filter-btn-4.active {
        background: #6e08c87a;
        color: black;
        border-color: #6e08c87a;
    }




    .home-slide-title {
        text-align: left;
        font-family: "Jua", sans-serif;
        font-size: 2.0rem;
        font-weight: 400;
        font-style: normal;
        margin-bottom: 20px;
        border-bottom: 2px solid #E7A67B;
        padding-bottom: 5px;
    }
/*지역 필터*/
    #loc-filter {
        padding: 8px 16px;
        border: 2px solid #ddd;
        border-radius: 4px;
        background: white;
        font-family: "Jua", sans-serif;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.1s, color 0.1s, border-color 0.1s ease;
    }

    #loc-filter:hover {
        background: #f0f0f0;
        border-color: #ccc;
    }

    #loc-filter:focus {
        outline: none;
        border-color: #E7A67B;
        box-shadow: 0 0 5px rgba(231, 166, 123, 1);
    }


/* 슬라이더 스타일 */
.slider {
    position: relative;
    width: 100%;
    max-width: 2000px;
    margin: 20px auto;
    overflow: hidden;
    height: 540px; /* 슬라이더 높이 고정 */
}

.slides {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 한 줄에 5개씩 배치 */
    grid-gap: 35px; /* 슬라이드 사이의 간격 설정 */
    height: 100%; /* 슬라이드 영역 높이를 100%로 설정 */
    overflow-x: auto; /* 가로 스크롤 활성화 */
    scroll-snap-type: x mandatory; /* 스크롤 시 각 슬라이드가 정확히 맞춰지도록 설정 */
    scroll-behavior: smooth; /* 부드러운 스크롤 효과 */
}

.slide {
    position: relative;
    text-align: center;
    box-sizing: border-box;
    scroll-snap-align: start; /* 각 슬라이드가 왼쪽에 맞춰지도록 설정 */
    height: auto; /* 이미지 높이에 맞게 슬라이드 크기 자동 조정 */
}

.slide img {
    width: 100%;
    height: 240px; /* 고정된 높이로 이미지 설정 */
    border-radius: 10px;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
}

.slide:hover img {
    transform: scale(1.05);
}

/* 오버레이 스타일 */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 240px; /* 이미지의 고정된 높이에 맞추기 */
    background: rgba(0, 0, 0, 0.5);
    color: white;
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-size: 13px;
    transition: opacity 0.1s ease-in-out; /* 짧은 전환 시간으로 변경 */
}

.slide:hover .overlay {
    opacity: 1; /* 즉각적으로 오버레이 표시 */
}

/* 상태 정보 스타일 */
/* 기본 상태 스타일 */
.status-info {
    position: absolute;
    top: 10px;
    left: 10px;
    color: white;
    padding: 5px 10px;
    font-size: 13px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.7); /* 기존 검정색 */
}

/*이거 지금 안돼..*/
<!--/* 공연중 */-->
<!--#status-info-공연중 {-->
<!--    background-color: rgba(138, 43, 226, 0.7); /* 보라색 */-->
<!--}-->

<!--/* 공연예정 */-->
<!--#status-info-공연예정 {-->
<!--    background-color: rgba(255, 165, 0, 0.7); /* 주황색 */-->
<!--}-->

<!--/* 공연완료 */-->
<!--#status-info-공연완료 {-->
<!--    background-color: rgba(0, 0, 0, 0.7); /* 기존 검정색 */-->
<!--}-->


/* + 버튼 */
    #load-more {
        display: block;
        margin: 20px auto; /* 중앙에 배치 */
        padding: 10px;
        font-size: 22px;
        background-color: #c3a1f2;
        color: white;
        border: none;
        border-radius: 50%;
        cursor: pointer;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
        transition: background-color 0.2s ease, transform 0.2s ease;
        width: 40px;
        height: 40px;
        text-align: center;
        line-height: 16px;
        outline: none;
        font-weight: bold; /* 글자를 볼드체로 설정 */
    }

    #load-more:hover {
        background-color: #6e08c87a;
        transform: scale(1.1);

    }

/*결과 없을 때 */
    .no-results {
    text-align: center !important;
    font-family: "Jua", sans-serif !important;
    font-size: 20px;!important;
    color: #333 !important;
    margin-top: 20px !important;
    width: 100% !important; /* 섹션의 크기에 맞추기 */
}

/* 지도 css*/
    .your_location_map {
        text-align: left;
        font-family: "Jua", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 2.0rem;
        margin-bottom: 20px;
        border-bottom: 2px solid #E7A67B;
        padding-bottom: 5px;
        margin-top: 30px;
    }

    @media (max-width: 768px) {
        .slides {
            grid-template-columns: repeat(2, 1fr); /* 한 줄에 2개씩 표시 */
        }

        .slide {
            min-width: 100%;
        }

        h2 { font-size: 20px; }
        h4 { font-size: 16px; }

        .slide img {
            height: 250px;
            width: 200px;
        }
        .slide .overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            padding: 3px;
            font-size: 13px;
        }
        .ranking-info {
            position: absolute;
            top: 10px;
            left: 10px;
            background-color: rgba(0, 0, 0, 0.7);
            color: white;
            padding: 3px 5px;
            font-size: 15px;
            border-radius: 5px;
        }

        .category-filters {
            flex-direction: column; /* Flex 방향을 세로로 변경 */
            align-items: flex-start; /* 왼쪽 정렬 */
        }

    @media screen and (max-width: 1024px) {
        .filter-btn {
            flex: 1 1 calc(50% - 10px); /* 화면 크기가 줄어들면 2개씩 배치 */
        }
    }

    @media screen and (max-width: 768px) {
        .filter-btn {
            flex: 1 1 calc(100% - 10px); /* 더 작아지면 1개씩 배치 */
        }
        .filter-row {
            max-height: 40px; /* 작은 화면에서 2~3줄까지만 표시 */
            overflow: hidden; /* 넘치는 콘텐츠 숨기기 */
            box-sizing: border-box; /* 높이 계산 보정 */
        }
        .show-more-btn {
            display: block;
        }
    }




</style>

<div class="main-container">

        <!-- 카테고리 필터 -->
    <div class="category-filters">
        <h3 class="filter-title">키워드 선택</h3>
        <div class="filter-content">
            <div class="filter-wrapper">
                <button class="filter-btn-0" id="reset-all-filters">전체 초기화</button>

                <h6 class="filter-small-title" style="margin-top: 15px;text-decoration: underline; text-decoration-color: #cccccc; text-underline-offset: 4px; font-family: 'Jua', serif;">공연상태</h6>
                <div class="filter-row">
                    <button class="filter-btn" data-status="전체">전체</button>
                    <button class="filter-btn" data-status="공연예정">공연예정</button>
                    <button class="filter-btn" data-status="공연중">공연중</button>
                    <button class="filter-btn" data-status="공연완료">공연완료</button>
                    <button class="filter-btn" data-status="오픈런">오픈런</button>
                </div>
                <h6 class="filter-small-title" style="margin-top: 15px; text-decoration: underline; text-decoration-color: #cccccc; text-underline-offset: 4px; font-family: 'Jua', serif;">장르</h6>
                <div class="filter-row">
                    <button class="filter-btn-1" data-genre="전체">전체</button>
                <button class="filter-btn-1" data-genre="공포">공포</button>
                <button class="filter-btn-1" data-genre="추리/스릴러">추리/스릴러</button>
                <button class="filter-btn-1" data-genre="한국 시대극">한국 시대극</button>
                <button class="filter-btn-1" data-genre="셰익스피어/고전극">셰익스피어/고전극</button>
            </div>
                <div class="filter-row">
                    <button class="filter-btn-1" data-genre="코미디">코미디</button>
                <button class="filter-btn-1" data-genre="로맨스">로맨스</button>
                <button class="filter-btn-1" data-genre="휴먼 드라마">휴먼 드라마</button>
                <button class="filter-btn-1" data-genre="아동/청소년극">아동/청소년극</button>
            </div>
                <div class="filter-row">
                    <button class="filter-btn-1" data-genre="한국 전통예술">한국 전통예술</button>
                <button class="filter-btn-1" data-genre="마임">마임</button>
                <button class="filter-btn-1" data-genre="기타">기타</button>
            </div>
                <h6 class="filter-small-title" style="margin-top: 15px; text-decoration: underline; text-decoration-color: #cccccc; text-underline-offset: 4px; font-family: 'Jua', serif;">키워드</h6>
                <div class="filter-row">
                    <button class="filter-btn-2" data-keyword="전체">전체</button>
                <button class="filter-btn-2" data-keyword="수상작">수상작</button>
                <button class="filter-btn-2" data-keyword="원작">원작</button>
                <button class="filter-btn-2" data-keyword="위로가 되는">위로가 되는</button>
                <button class="filter-btn-2" data-keyword="감동적인">감동적인</button>
            </div>

                <h6 class="filter-small-title" style="margin-top: 15px; text-decoration: underline; text-decoration-color: #cccccc; text-underline-offset: 4px; font-family: 'Jua', serif;">성별/연령대</h6>
                <div class="filter-row">
                    <button class="filter-btn-3" data-gender="전체">전체</button>
                <button class="filter-btn-3" data-gender="여성">여성</button>
                <button class="filter-btn-3" data-gender="남성">남성</button>
            </div>
                <div class="filter-row">
                    <button class="filter-btn-4" data-age="전체">전체</button>
                <button class="filter-btn-4" data-age="10대">10대</button>
                <button class="filter-btn-4" data-age="20대">20대</button>
                <button class="filter-btn-4" data-age="30대">30대</button>
                <button class="filter-btn-4" data-age="40대">40대</button>
                <button class="filter-btn-4" data-age="50대+">50대+</button>
            </div>
            </div>
            <!-- 이미지 추가 -->
            <div class="filter-image-container">
                    <img src="{% static 'images/ticket_pp.png' %}" loading="lazy" alt="극장소라고동" class="filter-image">
            </div>
        </div>
    </div>

        <!-- 장르 추천 섹션. 전부 수정해야 함. 리스트에서 값 받아와서 띄우는 것으로 바꿀 것. 링크도 각자 하지말고, 자동화할 것. 공연리스트로 연결해야 함  -->
<!-- 장르 추천 섹션 -->
<div class="section">
    <h3 class="home-slide-title">소라고동의 대답</h3>
    <!-- 필터링 드롭다운 추가 -->
<div class="filter-row">
    <select id="loc-filter" class="filter-dropdown">
        <option value="전체">전체</option>
        <option value="서울">서울</option>
        <option value="경상">경상</option>
        <option value="전라">전라</option>
        <option value="충청">충청</option>
        <option value="경기">경기</option>
        <option value="제주">제주</option>
    </select>
</div>
    <div class="slider">
        <div  id="play-details-container" class="slides">
            {% if play_details %}
            {% for play in play_details %}
            <div class="slide">
                <!-- 슬라이드 전체를 감싸는 링크 -->
                <a href="{% url 'plays:play_detail' play.play_id %}" class="slide-link">
                    <img src="{{ play.play_poster }}" loading="lazy" alt="{{ play.play_name }}" class="poster-image">
                    <div class="overlay">
                        <h5>{{ play.play_name }}</h5>
                        <p>{{ play.play_strdate }} ~ {{ play.play_enddate }}</p>
                        <p>{{ play.theater_nm }}</p>
                    </div>
                    <div class="status-info">
                        {{ play.play_status }}
                    </div>

                </a>
            </div>
            {% endfor %}
            {% else %}
            <p>현재 추천할 수 있는 연극이 없어요😢.</p>
            {% endif %}

        </div>

    </div>
    <button id="load-more" class="bnt-plus" >+</button>

</div>

    <!-- 현재 위치 주변 극장 섹션 (지도) -->

    <div class="section">
        <h3 class="your_location_map">현재 위치 주변 극장</h3>
        <div class="map-container">
            <div id="locationModal" class="location-modal">
                <div class="location-modal-content">
                    <h4>위치 정보 동의</h4>
                    <p>가까운 극장을 찾기 위해<br>위치 정보가 필요합니다.<br><br>
                        동의하시면 현재 위치로,<br>거부하시면 카카오 본사 주변의<br>극장을 보여드립니다.</p>
                    <div class="modal-buttons">
                        <button id="allowLocation" class="btn-allow">동의</button>
                        <button id="denyLocation" class="btn-deny">거부</button>
                    </div>
                </div>
            </div>
            <div id="map"></div>
            <div class="map-controls">
                <button class="radius-btn active" data-radius="5000">5km</button>
                <button class="radius-btn" data-radius="10000">10km</button>
                <button class="radius-btn" data-radius="20000">20km</button>
            </div>
        </div>
    </div>
</div>

{% include 'modal_base.html' %}

<script type="text/javascript">
    console.log("API Key being used:", "{{ kakao_map_api_key }}");
</script>
<script type="text/javascript" src="https://dapi.kakao.com/v2/maps/sdk.js?appkey={{ kakao_map_api_key }}&libraries=services,clusterer,geometry"></script>
<script src="{% static 'js/theater_map.js' %}"></script>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        try {
            console.log('Initializing map...');
            var theaters = {{ theaters|safe }};
            console.log('Theaters data:', theaters);

            if (!theaters || theaters.length === 0) {
                console.warn('No theaters data available');
            }

            var theaterMap = new TheaterMap('map', theaters, true);

            document.querySelectorAll('.radius-btn').forEach(btn => {
                btn.addEventListener('click', function() {
                    document.querySelectorAll('.radius-btn').forEach(b => b.classList.remove('active'));
                    this.classList.add('active');

                    const radius = this.dataset.radius;
                    theaterMap.filterMiniMapByRadius(parseInt(radius));
                });
            });
        } catch (error) {
            console.error('Error initializing map:', error);
        }
    });

<!--    추천 띄우기-->
document.addEventListener('DOMContentLoaded', () => {
    const slides = document.querySelector('.slides');
    const slideCount = document.querySelectorAll('.slide').length;


    // 슬라이드 너비와 간격 계산
    const slideWidth = document.querySelector('.slide').offsetWidth + 35; // 슬라이드 너비 + margin

});

// 추천, 버튼 필터링
document.addEventListener('DOMContentLoaded', () => {
    const container = document.getElementById('play-details-container');
    const resetButton = document.getElementById('reset-all-filters');
    let isInitialLoad = true;  // 최초 로딩 상태 체크
    let isFilterApplied = false;  // 필터가 적용되지 않았음을 추적하는 변수
    let currentStatus = [];
    let currentGenre = [];
    let currentKeyword = [];
    let currentGender = '전체';
    let currentAge = [];
    let currentOpenrun = [];
    let currentLoc = '전체';
    let page = 1; // 페이지 번호
    let isLoading = false; // 로딩 상태

    const statusButtons = document.querySelectorAll('.filter-btn');
    const genreButtons = document.querySelectorAll('.filter-btn-1');
    const keywordButtons = document.querySelectorAll('.filter-btn-2');
    const genderButtons = document.querySelectorAll('.filter-btn-3');
    const ageButtons = document.querySelectorAll('.filter-btn-4');
    const locDropdown = document.getElementById('loc-filter');
    const statusResetButton = document.querySelector('.filter-btn[data-status="전체"]'); // '전체' 버튼
    const loadMoreButton = document.querySelector('#load-more'); // 더 불러오기 버튼

    // 추천 연극 불러오기
    function fetchRecommendedPlays() {
        fetch('/recommend_plays/', {
            headers: {
                'X-Requested-With': 'XMLHttpRequest'
            }
        })
        .then(response => {
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }
            return response.json();
        })
        .then(data => {
            console.log('Fetched recommended plays:', data);
            if (isInitialLoad) {  // 최초 로딩 시에만 추천 연극을 표시
                container.innerHTML = ''; // 기존 내용을 비우고 추천 연극 표시
                if (data.play_details && data.play_details.length > 0) {
                    data.play_details.forEach(play => {
                        const playElement = `
                            <div class="slide">
                                <a href="/play/${play.play_id}/" class="slide-link">
                                    <img src="${play.play_poster}" alt="${play.play_name}" class="poster-image">
                                    <div class="overlay">
                                        <h5>${play.play_name}</h5>
                                        <p>${play.play_strdate} ~ ${play.play_enddate}</p>
                                        <p>${play.theater_nm}</p>
                                    </div>
                                    <div class="status-info">${play.play_status}</div>
                                </a>
                            </div>`;
                        container.insertAdjacentHTML('beforeend', playElement);
                    });
                } else {
                    container.innerHTML = '<p class="no-results">현재 추천 가능한 연극이 없어요😢</p>';
                }
            }
            isInitialLoad = false;  // 첫 번째 로딩 후에는 이후 요청에 대해서 필터링 연극을 불러옴
        })
        .catch(error => {
            console.error('Error fetching recommended plays:', error);
            container.innerHTML = '<p>추천 연극을 불러오는 데 문제가 발생했습니다.</p>';
        });
    }

    // 필터링된 연극을 불러오기
    function fetchFilteredPlays() {
        if (isLoading) return; // 이미 로딩 중이면 중단
        isLoading = true;

        const status = currentStatus.length > 0 ? currentStatus.join(',') : '전체';
        const genre = currentGenre.length > 0 ? currentGenre.join(',') : '전체';
        const keyword = currentKeyword.length > 0 ? currentKeyword.join(',') : '전체';
        const openrun = currentOpenrun.length > 0 ? currentOpenrun.join(',') : '전체';
        console.log(`Fetching plays with status=${status}, genre=${genre}, keyword=${keyword}, openrun=${openrun}, loc=${currentLoc}, page=${page}`);
        fetch(`/filter_plays/?status=${status}&genre=${genre}&keyword=${keyword}&gender=${currentGender}&age=${currentAge.join(',')}&openrun=${openrun}&loc=${currentLoc}&page=${page}`, {
            headers: {
                'X-Requested-With': 'XMLHttpRequest'
            }
        })
        .then(response => {
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }
            return response.json();
        })
        .then(data => {
            if (page === 1) {
                container.innerHTML = ''; // 첫 페이지 로드 시 기존 내용 초기화
            }
            if (data.play_details.length === 0) {
                if (page === 1) {
                    container.innerHTML = '<p class="no-results">소라고동의 답변이 없어요😢</p>';
                }
            } else {
                data.play_details.forEach(play => {
                    const playElement = document.createElement('div');
                    playElement.classList.add('slide');
                    playElement.innerHTML = `
                        <a href="/plays/play/${play.play_id}/" class="slide-link">
                            <img src="${play.play_poster}" alt="${play.play_name}" class="poster-image">
                            <div class="overlay">
                                <h5>${play.play_name}</h5>
                                <p>${play.play_strdate} ~ ${play.play_enddate}</p>
                                <p>${play.theater_nm}</p>
                            </div>
                            <div class="status-info">${play.play_status}</div>
                        </a>
                    `;
                    container.appendChild(playElement);
                });
            }
            isLoading = false;
        })
        .catch(error => {
            console.error('Error:', error);
            isLoading = false;
        });
    }

    // 필터 버튼 상태 토글 함수
    function toggleButtonState(button, array, value) {
        if (array.includes(value)) {
            array.splice(array.indexOf(value), 1);
            button.classList.remove('active');
            button.style.backgroundColor = ''; // 색상 초기화
        } else {
            array.push(value);
            button.classList.add('active');
            button.style.backgroundColor = '#6e08c87a'; // 색상 설정
        }
    }

    // 모든 필터 초기화 함수
    function resetAllFilters() {
        currentStatus = [];
        currentGenre = [];
        currentKeyword = [];
        currentGender = '전체';
        currentAge = [];
        currentOpenrun = [];
        currentLoc = '전체';
        page = 1; // 페이지 번호 초기화

        statusButtons.forEach(button => {
            button.classList.remove('active');
            button.style.backgroundColor = ''; // 색상 초기화
        });
        genreButtons.forEach(button => {
            button.classList.remove('active');
            button.style.backgroundColor = ''; // 색상 초기화
        });
        keywordButtons.forEach(button => {
            button.classList.remove('active');
            button.style.backgroundColor = ''; // 색상 초기화
        });
        genderButtons.forEach(button => {
            button.classList.remove('active');
            button.style.backgroundColor = ''; // 색상 초기화
        });
        ageButtons.forEach(button => {
            button.classList.remove('active');
            button.style.backgroundColor = ''; // 색상 초기화
        });
        locDropdown.value = '전체'; // 드롭다운 초기화

        resetButton.classList.add('active');
        resetButton.style.backgroundColor = '#fcf03d82'; // '전체 초기화' 버튼 색상 설정

        fetchFilteredPlays();
    }

    // 상태 필터 초기화 함수
    function resetStatusFilters() {
        currentStatus = [];
        currentOpenrun = [];
        page = 1; // 페이지 번호 초기화

        statusButtons.forEach(button => {
            button.classList.remove('active');
            button.style.backgroundColor = ''; // 색상 초기화
        });

        statusResetButton.classList.add('active');
        statusResetButton.style.backgroundColor = '#6e08c87a'; // '전체' 버튼 색상 설정

        fetchFilteredPlays();
    }

    // 필터 버튼 클릭 이벤트 추가
    statusButtons.forEach(button => {
        button.addEventListener('click', function() {
            const status = this.getAttribute('data-status');
            if (status === '전체') {
                resetStatusFilters();
            } else {
                statusResetButton.classList.remove('active');
                statusResetButton.style.backgroundColor = ''; // '전체' 버튼 색상 초기화
                if (status === '오픈런') {
                    toggleButtonState(this, currentOpenrun, 'Y');
                } else {
                    toggleButtonState(this, currentStatus, status);
                }
                page = 1; // 페이지 번호 초기화
                fetchFilteredPlays();
            }
        });
    });

    genreButtons.forEach(button => {
        button.addEventListener('click', function() {
            const genre = this.getAttribute('data-genre');
            if (genre === '전체') {
                currentGenre = [];
                genreButtons.forEach(btn => {
                    btn.classList.remove('active');
                    btn.style.backgroundColor = ''; // 색상 초기화
                });
                this.classList.add('active');
                this.style.backgroundColor = '#6e08c87a'; // '전체' 버튼 색상 설정
            } else {
                toggleButtonState(this, currentGenre, genre);
                document.querySelector('.filter-btn-1[data-genre="전체"]').classList.remove('active');
                document.querySelector('.filter-btn-1[data-genre="전체"]').style.backgroundColor = ''; // '전체' 버튼 색상 초기화
            }
            page = 1; // 페이지 번호 초기화
            fetchFilteredPlays();
        });
    });

    keywordButtons.forEach(button => {
        button.addEventListener('click', function() {
            const keyword = this.getAttribute('data-keyword');
            if (keyword === '전체') {
                currentKeyword = [];
                keywordButtons.forEach(btn => {
                    btn.classList.remove('active');
                    btn.style.backgroundColor = ''; // 색상 초기화
                });
                this.classList.add('active');
                this.style.backgroundColor = '#6e08c87a'; // '전체' 버튼 색상 설정
            } else {
                toggleButtonState(this, currentKeyword, keyword);
                document.querySelector('.filter-btn-2[data-keyword="전체"]').classList.remove('active');
                document.querySelector('.filter-btn-2[data-keyword="전체"]').style.backgroundColor = ''; // '전체' 버튼 색상 초기화
            }
            page = 1; // 페이지 번호 초기화
            fetchFilteredPlays();
        });
    });

    genderButtons.forEach(button => {
        button.addEventListener('click', function() {
            currentGender = this.getAttribute('data-gender');
            genderButtons.forEach(btn => {
                btn.classList.remove('active');
                btn.style.backgroundColor = ''; // 색상 초기화
            });
            this.classList.add('active');
            this.style.backgroundColor = '#6e08c87a'; // '전체' 버튼 색상 설정
            page = 1; // 페이지 번호 초기화
            fetchFilteredPlays();
        });
    });

    ageButtons.forEach(button => {
        button.addEventListener('click', function() {
            const age = this.getAttribute('data-age');
            if (age === '전체') {
                currentAge = [];
                ageButtons.forEach(btn => {
                    btn.classList.remove('active');
                    btn.style.backgroundColor = ''; // 색상 초기화
                });
                this.classList.add('active');
                this.style.backgroundColor = '#6e08c87a'; // '전체' 버튼 색상 설정
            } else {
                toggleButtonState(this, currentAge, age);
                document.querySelector('.filter-btn-4[data-age="전체"]').classList.remove('active');
                document.querySelector('.filter-btn-4[data-age="전체"]').style.backgroundColor = ''; // '전체' 버튼 색상 초기화
            }
            page = 1; // 페이지 번호 초기화
            fetchFilteredPlays();
        });
    });

    locDropdown.addEventListener('change', function() {
        currentLoc = this.value;
        page = 1; // 페이지 번호 초기화
        fetchFilteredPlays();
    });

    resetButton.addEventListener('click', resetAllFilters);

    loadMoreButton.addEventListener('click', () => {
        page++;
        fetchFilteredPlays();
    });

    // 최초 연극 불러오기
    fetchRecommendedPlays();
});



</script>

{% endblock %}