{% extends 'nav_base.html' %}
{% block title %}리뷰 작성{% endblock %}
{% block content %}

<style>
    .wide-content_t {
        margin-top: 15px;
        max-width: 800px;
        height: 40px;
        border: 2px solid #BDBDBD;
        border-radius: 5px;
        padding: 5px;
        overflow: auto;
    }

    .wide-content_cn {
        margin-top: 15px;
        max-width: 400px;
        height: 50px;
        border: 2px solid #BDBDBD;
        border-radius: 5px;
        padding: 5px;
        overflow: auto;
    }

    .wide-content {
        margin-top: 15px;
        max-width: 800px;
        height: 200px;
        border: 2px solid #BDBDBD;
        border-radius: 5px;
        padding: 10px;
        overflow: auto;
    }

    .boardline {
        border-top: 1px solid #BDBDBD;
        max-width: 800px;
        margin: 10px 0;
    }

    .bold-text {
        font-weight: bold;
    }
</style>

<div class="container mt-5">
    <div class="card shadow-sm mb-4">
        <div class="card-body">
            <form id="review-form" action="" method="post">
                {% csrf_token %}
                {{ form.as_p }}


                <div class="text-right">
                    <button type="submit" class="btn btn-primary">저장</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="text-center">
    <a href="{% url 'review_detail' pk=form.instance.pk %}" class="btn btn-secondary mb-5">뒤로가기</a>
</div>


{% endblock %}